@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-Regular.ttf");
  font-weight: 500;
  font-size: normal;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed-Italic.ttf");
  font-size: normal;
}

@font-face {
  font-family: "IBM Plex Mono Italic";
  src: url("../fonts/IBMPlexMono-Italic.ttf");
  font-weight: 600;
  font-size: normal;
}

/* FIXME
 * Remove unnecessary rules
*/
:global(#T_A_P_E_WORD) > .definitionsContainer {
  display: flex !important;
  flex-direction: column !important;
  position: relative;
  justify-content: space-evenly !important;
  padding: 8px 0 !important;
  margin: 0 !important;
  border: none !important;
  scrollbar-width: none;
}

:global(#T_A_P_E_WORD) > .definitionsContainer > .textContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  padding: 8px 0 !important;
  margin: 0 !important;
  border: none !important;
  width: 100% !important;
  white-space: nowrap !important;
  overflow-x: auto !important;
  scrollbar-width: none !important;
}

:global(#T_A_P_E_WORD) > .definitionsContainer > .textContainer > .definition {
  font-family: "IBM Plex Mono", "Courier New" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 13px !important;
  color: #000000 !important;
  /* padding: 0 !important; */
  margin: 0 !important;
  border: none !important;
}

:global(#T_A_P_E_WORD) > .definitionsContainer > .textContainer > .example {
  font-family: "IBM Plex Mono", "Courier New" !important;
  font-style: italic !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 13px !important;
  color: #0000008e !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

:global(#T_A_P_E_WORD) > .definitionsContainer > .controlsContainer {
  display: flex !important;
  justify-content: space-between !important;
  width: 70px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  line-height: normal !important;
  font-style: normal !important;
  font-size: initial !important;
  /* font-family: initial !important; */
}

:global(#T_A_P_E_WORD) > .definitionsContainer > .blur {
  position: absolute !important;
  align-self: end !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 50px !important;
  height: 65% !important;
  border-radius: 0px 5px 5px 5px !important;
  content: "" !important;
  background: linear-gradient(to right, #ffffff00 0%, #76f7df 65%) !important;
}

:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .leftArrowContainer,
:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .rightArrowContainer {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
  height: 15px !important;
  line-height: 0px !important;
  min-height: 0px !important;
  width: 15px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .leftArrowContainer:hover,
:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .rightArrowContainer:hover,
:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .leftArrowContainer:focus,
:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .rightArrowContainer:focus {
  background: none !important;
  border: none !important;
  outline: none !important;
}

:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .leftArrowContainer
  svg,
:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .rightArrowContainer
  svg {
  outline: none !important;
  transition: transform 0.007s linear !important;
}

:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .leftArrowContainer:hover
  svg,
:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .rightArrowContainer:hover
  svg {
  transform: scale(1.4) !important;
}

:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .leftArrowContainer:active {
  transform: translateX(-2px) !important;
}

:global(#T_A_P_E_WORD)
  > .definitionsContainer
  > .controlsContainer
  > .rightArrowContainer:active {
  transform: translateX(2px) !important;
}
