@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-Regular.ttf");
  font-weight: 500;
  font-size: normal;
}

:global(#W_O_R_D_STAR) {
  box-sizing: border-box !important;
}

.frame {
  z-index: 9999 !important;
  display: flex !important;
  box-sizing: border-box !important;
  border: 1px solid #000000 !important;
  border-radius: 0px 5px 5px 5px !important;
  width: max-content !important;
  height: max-content !important;
  color: #000000 !important;
}

.nullFrame {
  composes: frame !important;
  font-family: "IBM Plex Mono", "Courier New" !important;
  font-weight: 800 !important;
  font-size: 15px !important;
  line-height: 13px !important;
  background: rgba(247, 118, 157) !important;
}

.defFrame {
  composes: frame !important;
  display: flex !important;
  background: #76f7df !important;
  height: 80px !important;
}
